<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <link href="~/adminlte/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">

        <partial name="_NavBar" />

        <partial name="_SideBar" />

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Blank Page</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Blank Page</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    @RenderBody()
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <partial name="_Footer" />
    </div>



    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/js/waitingfor.js"></script>
    <script src="~/adminlte/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/app/app.js"></script>
    @await RenderSectionAsync("Scripts",required: false)
</body>
</html>
